.home {
  position: fixed;
  width: 100%;
  height: 100%;
}


.site-header {
  display: flex;
  justify-content: flex-start;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.user-avater {
  

}

.app-menu {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  left: 0;
}

.app-content {
  padding-left: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #ccc;
}

.page-cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.page-card-item {
  flex: 0 0 auto;
}

.add-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.6;
  transition: all 0.3s;
}

.add-page:hover::after {
  opacity: 0.1;
  transition: all 0.3s;
}
