.editor {
  width: 100%;
  height: 100%;
  background-color: rgb(189, 189, 189);
}

.components-panel, .property-panel {
  position: absolute;
  width: 300px;
  background-color: lightgray;
  top: 0;
  bottom: 0;
}



.components-panel {
  left: 0;
}

.property-panel {
  right: 0;
}

.container {
  padding: 80px 300px 0;
  height: 100%;
  box-sizing: border-box;
  /* background-color: aqua; */
}

.container-canvas {
  
  overflow: scroll;
  height: 100%;
}

.container-canvas_content {
  position: relative;
  margin: 20px auto;
  background-color: #eee;
}

.editor-block {
  position: absolute;
}

.editor-block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.editor-block-focus {
  position: absolute;
}

.editor-block-focus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed lightskyblue;
}

.components-panel {
  overflow-y: scroll;
}

.component-item {
  
  width: 250px;
  min-height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  cursor: move;
  user-select: none;
  position: relative;
}

.component-item > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  color: white;
  padding: 4px;
}

.component-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.2;
}


