.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:0;
  width: 320px;
  height: 50px;
  background-color: white;
}

.menu-item {
  width: 30px;
  height: 30px;
  margin: 20px;
  background-color: gray;
}

button {
  border: 0px;

}

#edit {
  background: url(./icons/create-outline.svg) no-repeat;
}

#drag {
  background: url(./icons/move-outline.svg) no-repeat;
}

#save {
  background: url(./icons/save-outline.svg) no-repeat;
}

#preview {
  background: url(./icons/eye-outline.svg) no-repeat;
}

