.panel {
  margin: 10px;
  margin-bottom: 0px;
  overflow-y: auto;
  line-height: 2rem;
}

.page {
  line-height: 2rem;
}

.block {
}

div {
}

.editor-item {
  display: flex;
  margin: 10px 0px;
}

label {
  flex: 0 0 50px;
  align-self: flex-start;
}